[user]
	email = kachur.daniil@gmail.com
	name = Daniil Kachur
[core]
  excludesfile = ~/.gitignore_global
	editor = vim
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  fixtypo = commit --amend --no-edit
  resetmerge = reset --merge ORIG_HEAD
  patch="!git format-patch -1 HEAD"
[diff]
  tool = meld
[merge]
  tool = meld
[difftool]
  prompt = false
[color]
  ui = true
